.table {
    font-size: 3em;
    margin: 25%;
    color: azure;
    background-color: black;
  }

  .table th {
    height: 5cm;
  }
  .table,
  th,
  td {
    border: 10px solid black;
  }
  .table td {
    width: 3cm;
    height: 3cm;
    text-align: center;
    border-radius: 100%;
  }
  .table thead {
    background-color: rgb(0, 0, 0);
  }
  .table tbody {
    background-color: rgb(54, 54, 54);
  }
  .signa{
    background-color: rgb(161, 161, 161); 
    color: black;
  }
  .signb{
    background-color: goldenrod"
  }